<!DOCTYPE html>
<html lang="en">
<include file="header" />
<body>
<ul class="nav nav-tabs">

    <ul class="nav nav-tabs" id="navigation_bar_id">
        <li><a href="__URL__/index.html">全国主要城市流量显示</a></li>
        <li><a href="__URL__/company.html">各公司流量显示</a></li>
    </ul>
    <script>
        $(function()
        {
            $('#navigation_bar_id li')[parseInt({$navigation_bar_number})].setAttribute('class','active');
        })
    </script>
</ul>
<!--<div class="row">-->
    <!--<div class="col-md-4 col-md-offset-1">-->
        <!--<h1>{$title}</h1>-->
    <!--</div>-->
    <!--<div class="col-md-4 col-md-offset-4">-->
        <!--<block name="search_block"></block>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="row">-->
    <!--<block name="info_block"></block>-->
<!--</div>-->
<td class="row">
    <div class="col-md-12">
        <block name="maincontent_block"></block>
    </div>
</td>
</body>
</html>